Adam Ortiz <adam.ortiz@utoronto.ca>

Adrien F. Vincent <vincent.adrien@gmail.com>
Adrien F. Vincent <vincent.adrien@gmail.com> <adrien.vincent@u-psud.fr>

Alvaro Sanchez <sanchezgnzlz.alvaro@gmail.com>

Andrew Dawson <ajdawson@acm.org> <dawson@atm.ox.ac.uk>

anykraus <kraus@mpip-mainz.mpg.de> <anykraus@users.noreply.github.com>

Ariel Hernán Curiale <curiale@gmail.com>

Ben Cohen <bj.cohen19@gmail.com> <ben@cohen-family.org>

Ben Root <ben.v.root@gmail.com> Benjamin Root <ben.v.root@gmail.com>

Benedikt Daurer <benedikt.daurer@icm.uu.se>

Benjamin Congdon <bencongdon96@gmail.com>
Benjamin Congdon <bencongdon96@gmail.com> bcongdon <bcongdo2@illinois.edu>

Bruno Zohreh <z.shams@bath.ac.uk>

Casper van der Wel <caspervdw@gmail.com>

Chris Holdgraf <choldgraf@gmail.com>

Christoph Gohlke <cgohlke@uci.edu> cgohlke <cgohlke@uci.edu>
Christoph Gohlke <cgohlke@uci.edu> C. Gohlke <cgohlke@uci.edu>
Christoph Gohlke <cjgohlke@gmail.com>

Cimarron Mittelsteadt <cimarronm@gmail.com> Cimarron <cimarronm@gmail.com>

cldssty <huey910@gmail.com>

Conner R. Phillips <conner.r.phillips@gmail.com> <conner.r.phillips.com>

Dan Hickstein <danhickstein@gmail.com>

Daniel Hyams <dhyams@gmail.com>
Daniel Hyams <dhyams@gmail.com> Daniel Hyams <dhyams@gitdev.(none)>

David Kua <david@kua.io> <david.kua@mail.utoronto.ca>

Devashish Deshpande <ashu.9412@gmail.com>

Dietmar Schwertberger <github@schwertberger.de>

endolith <endolith@gmail.com>

Eric Dill <thedizzle@gmail.com> <edill@bnl.gov>

Erik Bray <erik.m.bray@gmail.com> <embray@stsci.edu>

Eric Ma <ericmajinglong@gmail.com> <ericmjl@Erics-MacBook-Pro.local>
Eric Ma <ericmajinglong@gmail.com> <ericmjl@users.noreply.github.com>

Filipe Fernandes <ocefpaf@gmail.com>

Florian Le Bourdais <florian.s.lebourdais@gmail.com>

Francesco Montesano <franz.bergesund@gmail.com> montefra <franz.bergesund@gmail.com>

Gauravjeet <gauravjeet.kala@mail.utoronto.ca>

Hajoon Choi <hajoon.choi@mail.utoronto.ca>

hannah <story645@gmail.com>

Hans Moritz Günther <moritz.guenther@gmx.de>

Harshit Patni <patniharshit@gmail.com>

ImportanceOfBeingErnest <elch.rz@ruetz-online.de>

J. Goutin <JGoutin@users.noreply.github.com> JGoutin <ginnungagap@free.fr>

Jack Kelly <jack.kelly@imperial.ac.uk> <daniel.kelly10@imperial.ac.uk>
Jack Kelly <jack.kelly@imperial.ac.uk> <jack-list@xlk.org.uk>

Jaime Fernandez <jaime.frio@gmail.com>

Jake Vanderplas <jakevdp@gmail.com>
Jake Vanderplas <jakevdp@gmail.com> <jakevdp@yahoo.com>
Jake Vanderplas <jakevdp@gmail.com> <vanderplas@astro.washington.edu>

James R. Evans <jrevans1@earthlink.net>

Jeff Lutgen <jlutgen@gmail.com> <jlutgen@users.noreply.github.com>

Jeffrey Bingham <bingjeff@gmail.com>

Jens Hedegaard Nielsen <jenshnielsen@gmail.com>
Jens Hedegaard Nielsen <jenshnielsen@gmail.com> <jens.nielsen@ucl.ac.uk>

John Hunter <jdh2358@gmail.com>

Jorrit Wronski <jowr@mek.dtu.dk>

Joseph Fox-Rabinovitz <jfoxrabinovitz@gmail.com> Mad Physicist <madphysicist@users.noreply.github.com>
Joseph Fox-Rabinovitz <jfoxrabinovitz@gmail.com> Joseph Fox-Rabinovitz <joseph.r.fox-rabinovitz@nasa.gov>

Jouni K. Seppänen <jks@iki.fi>

Julien Lhermitte <ordirules@gmail.com>

Julien Schueller <julien.schueller@gmail.com> <schueller@porsche-l64.phimeca.lan>
Julien Schueller <julien.schueller@gmail.com> <schueller@bx-l64.phimeca.lan>

Kevin Davies <kdavies4@gmail.com> <daviesk24@yahoo.com>

kikocorreoso <kikocorreoso@gmail.com> <kikocorreoso@users.noreply.github.com>

Klara Gerlei <klarizsofi@gmail.com>
Klara Gerlei <klarizsofi@gmail.com> klaragerlei <s1466507@sms.ed.ac.uk>

Kristen M. Thyng <kthyng@gmail.com>

Leeonadoh <leo.sunpeng.li@gmail.com>

Lennart Fricke <lennart@die-frickes.eu> <lennart.fricke@kabelmail.de>

Levi Kilcher <levi.kilcher@nrel.gov>

Leon Yin <hello.leonyin@gmail.com>

Lion Krischer <lion.krischer@gmail.com> <krischer@geophysik.uni-muenchen.de>

Marek Rudnicki <marekrud@gmail.com>

Martin Fitzpatrick <martin.fitzpatrick@gmail.com> <mfitzp@abl.es>

Matt Newville <newville@cars.uchicago.edu>

Matthew Emmett <memmett@gmail.com>
Matthew Emmett <memmett@gmail.com> <memmett@unc.edu>

Matthias Bussonnier <bussonniermatthias@gmail.com>

Matthias Lüthi <maluethi@protonmail.ch>
Matthias Lüthi <maluethi@protonmail.ch> <matthias.luethi@lhep.unibe.ch>

Matti Picus <matti.picus@gmail.com>

Michael Droettboom <mdboom@gmail.com> <mdroe@stsci.edu>
Michael Droettboom <mdboom@gmail.com> Michael Droettboom <mdboom@debian-vm>

Michiel de Hoon <mjldehoon@yahoo.com>
Michiel de Hoon <mjldehoon@yahoo.com> Michiel de Hoon <mdehoon@mad002s-MacBook-Air.local>
Michiel de Hoon <mjldehoon@yahoo.com> Michiel de Hoon <mdehoon@michiel-de-hoons-computer.local>
Michiel de Hoon <mjldehoon@yahoo.com> Michiel de Hoon <mdehoon@Michiels-MacBook-Pro.local>
Michiel de Hoon <mjldehoon@yahoo.com> Michiel de Hoon <mdehoon@tkx294.genome.gsc.riken.jp>

MinRK <benjaminrk@gmail.com>
MinRK <benjaminrk@gmail.com> Min RK <minrk@kerbin.local>

Nelle Varoquaux <nelle.varoquaux@gmail.com>

Nic Eggert <nic.eggert@gmail.com> Nic Eggert <nic@eggert.pw>
Nic Eggert <nic.eggert@gmail.com> Nic Eggert <nse23@cornell.edu>

Nicolas P. Rougier <Nicolas.Rougier@inria.fr>

OceanWolf <juichenieder-tigger@yahoo.co.uk>

Olivier <castany@clevo>

Patrick Chen <pat.chen@mail.utoronto.ca>

Paul Ganssle <p.ganssle@gmail.com>
Paul Ganssle <pg@example.com>

Paul Hobson <pmhobson@gmail.com>
Paul Hobson <pmhobson@gmail.com> vagrant <vagrant@precise32.(none)>

Paul Ivanov <pivanov314@gmail.com> <pi@berkeley.edu>

Per Parker <wisalam@live.com>

Peter Würtz <pwuertz@gmail.com>
Peter Würtz <pwuertz@gmail.com> <pwuertz@googlemail.com>

Phil Elson <pelson.pub@gmail.com>
Phil Elson <pelson.pub@gmail.com> <philipelson@hotmail.com>
Phil Elson <pelson.pub@gmail.com> <philipelson@gmail.com>

productivememberofsociety666 <productivememberofsociety666@sol.fr.am> none <none@example.net>

Rishikesh <rishikksh20@gmail.com>

RyanPan <ryanbelt1993129@hotmail.com>

Scott Lasley <selasley@me.com>

Sebastian Raschka <mail@sebastianraschka.com>
Sebastian Raschka <mail@sebastianraschka.com> <se.raschka@me.com>

Simon Cross <hodgestar+github@gmail.com> <hodgestar@gmail.com>

Slav Basharov <slavbacharov@gmail.com>

sohero <herosgq@gmail.com> sohero <ivip@tom.com>

Stefan van der Walt <stefanv@berkeley.edu> <stefan@sun.ac.za>

switham <github@mac-guyver.com> switham <switham_github@mac-guyver.com>

Taehoon Lee <taehoonlee@snu.ac.kr>

Thomas A Caswell <tcaswell@gmail.com> Thomas A Caswell <tcaswell@bnl.gov>
Thomas A Caswell <tcaswell@gmail.com> Thomas A Caswell <tcaswell@uchicago.edu>
Thomas A Caswell <tcaswell@gmail.com> Thomas A Caswell <“tcaswell@gmail.com”>

Trish Gillett-Kawamoto <trish.gillett@shopify.com> <discardthree@gmail.com>

Tuan Dung Tran <tuan.d.tran@hotmail.com>

Víctor Zabalza <vzabalza@gmail.com>

Vidur Satija <vidursatija@gmail.com>

WANG Aiyong <gepcelway@gmail.com>

Werner F Bruhin <wernerfbd@gmx.ch>

Yunfei Yang <yangyunf@iits-b473-20053.(none)> Yunfei Yang <yangyunf@iits-b473-20057.(none)>
Yunfei Yang <yangyunf@iits-b473-20053.(none)> Yunfei Yang <yangyunf@iits-b473-20061.(none)>

Zac Hatfield-Dodds <zac.hatfield.dodds@gmail.com>
