John Hunter <jdh2358@gmail.com> jdh2358 <jdh2358@gmail.com>
Michael Droettboom <mdboom@gmail.com> Michael Droettboom <mdroe@stsci.edu>
Jouni K. Seppänen <jks@iki.fi> Jouni K. Seppänen <jks@iki.fi>
Ben Root <ben.v.root@gmail.com> Benjamin Root <ben.v.root@gmail.com>
Michiel de Hoon <mjldehoon@yahoo.com> Michiel de Hoon <mdehoon@michiel-de-hoons-computer.local>
Kevin Davies <kdavies4@gmail.com> Kevin Davies <daviesk24@yahoo.com>
Christoph Gohlke <cgohlke@uci.edu> cgohlke <cgohlke@uci.edu>
