# Requirements for building docs
# You will first need a matching matplotlib installed
# e.g (from the matplotlib root directory)
#     pip install -e .
#
# Install the documentation requirements with:
#     pip install -r doc-requirements.txt
#
sphinx>=1.3,!=1.5.0,!=1.6.4,!=1.7.3,!=1.8.0
colorspacious
ipython
ipywidgets
numpydoc>=0.8
pillow>=3.4,!=5.4.0
sphinx-gallery>=0.2
