include API_CHANGES CHANGELOG KNOWN_BUGS INSTALL NUMARRAY_ISSUES
include INTERACTIVE TODO
include Makefile  MANIFEST.in MANIFEST
include .matplotlibrc
include __init__.py setupext.py setup.py makeswig.py
include examples/data/*
include images/*
recursive-include fonts *
recursive-include license LICENSE*
recursive-include examples README *.py *.glade
prune examples/_tmp_*
recursive-include src  *.cpp *.c *.h
recursive-include CXX  *.cxx *.hxx *.c
recursive-include agg23 *
recursive-include lib *
recursive-include swig *
