---
name: Linting
on: [pull_request]

permissions:
  contents: read
  checks: write
  pull-requests: write

jobs:
  flake8:
    name: flake8
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python 3
        uses: actions/setup-python@v5
        with:
          python-version: 3.9

      - name: Install flake8
        run: pip3 install -r requirements/testing/flake8.txt

      - name: Set up reviewdog
        uses: reviewdog/action-setup@v1

      - name: Run flake8
        env:
          REVIEWDOG_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          set -o pipefail
          flake8 --docstring-convention=all | \
            reviewdog -f=pep8 -name=flake8 \
              -tee -reporter=github-check -filter-mode nofilter
  mypy:
    name: mypy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python 3
        uses: actions/setup-python@v5
        with:
          python-version: 3.9

      - name: Install mypy
        run: pip3 install -r requirements/testing/mypy.txt -r requirements/testing/all.txt

      - name: Set up reviewdog
        uses: reviewdog/action-setup@v1

      - name: Run mypy
        env:
          REVIEWDOG_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          set -o pipefail
          mypy --config pyproject.toml | \
            reviewdog -f=mypy -name=mypy \
              -tee -reporter=github-check -filter-mode nofilter


  eslint:
    name: eslint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: eslint
        uses: reviewdog/action-eslint@v1
        with:
          filter_mode: nofilter
          github_token: ${{ secrets.GITHUB_TOKEN }}
          reporter: github-check
          workdir: 'lib/matplotlib/backends/web_backend/'
